/* Success.css */
.success-container {
    margin-top: 150px;
    text-align: center;
}

.success-title {
    color: green;
    font-size: 24px;
}

.success-message {
    font-size: 18px;
}

/* Cancel.css */
.cancel-container {
    margin-top: 150px;
    text-align: center;
}

.cancel-title {
    color: red;
    font-size: 24px;
}

.cancel-message {
    font-size: 18px;
}